<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<bean id="messageBeanImpl" class="sample01.MessageBeanImpl">
		<constructor-arg>
			<value>사과</value>
		</constructor-arg>
		<property name="cost">
			<value>5000</value>
		</property>
		<property name="qty" value="3"></property>
	</bean>
	
	<bean id="add" class="sample02.CalcAdd">
		<constructor-arg index="0">
			<value>25</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>36</value>
		</constructor-arg>
	</bean>
	
	<bean id="mul" class="sample02.CalcMul">
		<property name="x">
			<value>25</value>
		</property>
		<property name="y">
			<value>36</value>
		</property>
		<!-- <property name="y" value="36"> -->
	</bean>
	
	<bean id="sungJukImpl" class="sample03.SungJukImpl">
		<constructor-arg>
			<ref bean="sungJukDTO"></ref>
		</constructor-arg>
	</bean>
	
	<bean id="sungJukDTO" class="sample03.SungJukDTO">
		<property name="name">
			<value>홍길동</value>
		</property>
		<property name="kor">
			<value>97</value>
		</property>
		<property name="eng">
			<value>100</value>
		</property>
		<property name="math">
			<value>95</value>
		</property>
	</bean>
	
	<!-- sample05 -->
	<bean id="helloSpring" class="sample05.HelloSpring"></bean>
	<bean id="list" class="java.util.ArrayList"></bean>
	<bean id="sungJukDTO2" class="sample05.SungJukDTO2" scope="prototype"></bean>
	<bean id="sungJukInput" class="sample05.SungJukInput" scope="prototype">
		<property name="list" ref="list"/>
		<property name="sungJukDTO2" ref="sungJukDTO2"/>
	</bean>
	<bean id="sungJukOutput" class="sample05.SungJukOutput">
		<property name="list" ref="list"/>
	</bean>
	<bean id="sungJukModify" class="sample05.SungJukModify">
		<property name="list" ref="list"/>
	</bean>
	<bean id="sungJukDelete" class="sample05.SungJukDelete">
		<property name="list" ref="list"/>
	</bean>
	
</beans>
